<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.books.mapper.BookInfoMapper">

    <resultMap type="BookInfo" id="BookInfoResult">
            <result property="id" column="id"/>
            <result property="bookeCode" column="booke_code"/>
            <result property="bookName" column="book_name"/>
            <result property="bookClassification" column="book_classification"/>
            <result property="bookIntroduction" column="book_introduction"/>
            <result property="retailPrice" column="retail_price"/>
            <result property="publishingHouse" column="publishing_house"/>
            <result property="publicationDate" column="publication_date"/>
            <result property="status" column="status"/>
            <result property="createBy" column="create_by"/>
            <result property="createTime" column="create_time"/>
            <result property="updateBy" column="update_by"/>
            <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectBookInfoVo">
        select id, booke_code, book_name, book_classification, book_introduction, retail_price, publishing_house, publication_date, status, create_by, create_time, update_by, remark
        from book_info
    </sql>

    <select id="selectBookInfoList" parameterType="BookInfo" resultMap="BookInfoResult">
        <include refid="selectBookInfoVo"/>
        <where>
                        <if test="bookeCode != null  and bookeCode != ''">
                            and booke_code = #{bookeCode}
                        </if>
                        <if test="bookName != null  and bookName != ''">
                            and book_name like concat('%', #{bookName}, '%')
                        </if>
                        <if test="bookClassification != null  and bookClassification != ''">
                            and book_classification = #{bookClassification}
                        </if>
                        <if test="bookIntroduction != null  and bookIntroduction != ''">
                            and book_introduction = #{bookIntroduction}
                        </if>
                        <if test="retailPrice != null ">
                            and retail_price = #{retailPrice}
                        </if>
                        <if test="publishingHouse != null  and publishingHouse != ''">
                            and publishing_house = #{publishingHouse}
                        </if>
                        <if test="publicationDate != null ">
                            and publication_date = #{publicationDate}
                        </if>
                        <if test="status != null  and status != ''">
                            and status = #{status}
                        </if>
        </where>
    </select>

    <select id="selectBookInfoById" parameterType="Long"
            resultMap="BookInfoResult">
            <include refid="selectBookInfoVo"/>
            where id = #{id}
    </select>

    <insert id="insertBookInfo" parameterType="BookInfo" useGeneratedKeys="true"
            keyProperty="id">
        insert into book_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
                    <if test="bookeCode != null">booke_code,
                    </if>
                    <if test="bookName != null">book_name,
                    </if>
                    <if test="bookClassification != null">book_classification,
                    </if>
                    <if test="bookIntroduction != null">book_introduction,
                    </if>
                    <if test="retailPrice != null">retail_price,
                    </if>
                    <if test="publishingHouse != null">publishing_house,
                    </if>
                    <if test="publicationDate != null">publication_date,
                    </if>
                    <if test="status != null">status,
                    </if>
                    <if test="createBy != null">create_by,
                    </if>
                    <if test="createTime != null">create_time,
                    </if>
                    <if test="updateBy != null">update_by,
                    </if>
                    <if test="remark != null">remark,
                    </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                    <if test="bookeCode != null">#{bookeCode},
                    </if>
                    <if test="bookName != null">#{bookName},
                    </if>
                    <if test="bookClassification != null">#{bookClassification},
                    </if>
                    <if test="bookIntroduction != null">#{bookIntroduction},
                    </if>
                    <if test="retailPrice != null">#{retailPrice},
                    </if>
                    <if test="publishingHouse != null">#{publishingHouse},
                    </if>
                    <if test="publicationDate != null">#{publicationDate},
                    </if>
                    <if test="status != null">#{status},
                    </if>
                    <if test="createBy != null">#{createBy},
                    </if>
                    <if test="createTime != null">#{createTime},
                    </if>
                    <if test="updateBy != null">#{updateBy},
                    </if>
                    <if test="remark != null">#{remark},
                    </if>
        </trim>
    </insert>

    <update id="updateBookInfo" parameterType="BookInfo">
        update book_info
        <trim prefix="SET" suffixOverrides=",">
                    <if test="bookeCode != null">booke_code =
                        #{bookeCode},
                    </if>
                    <if test="bookName != null">book_name =
                        #{bookName},
                    </if>
                    <if test="bookClassification != null">book_classification =
                        #{bookClassification},
                    </if>
                    <if test="bookIntroduction != null">book_introduction =
                        #{bookIntroduction},
                    </if>
                    <if test="retailPrice != null">retail_price =
                        #{retailPrice},
                    </if>
                    <if test="publishingHouse != null">publishing_house =
                        #{publishingHouse},
                    </if>
                    <if test="publicationDate != null">publication_date =
                        #{publicationDate},
                    </if>
                    <if test="status != null">status =
                        #{status},
                    </if>
                    <if test="createBy != null">create_by =
                        #{createBy},
                    </if>
                    <if test="createTime != null">create_time =
                        #{createTime},
                    </if>
                    <if test="updateBy != null">update_by =
                        #{updateBy},
                    </if>
                    <if test="remark != null">remark =
                        #{remark},
                    </if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBookInfoById" parameterType="Long">
        delete
        from book_info where id = #{id}
    </delete>

    <delete id="deleteBookInfoByIds" parameterType="String">
        delete from book_info where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>