<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.books.mapper.BookBatchMapper">

    <resultMap type="BookBatch" id="BookBatchResult">
            <result property="id" column="id"/>
            <result property="batchName" column="batch_name"/>
            <result property="sumAmount" column="sum_amount"/>
            <result property="status" column="status"/>
            <result property="orderTime" column="order_time"/>
            <result property="payTime" column="pay_time"/>
            <result property="sendTime" column="send_time"/>
    </resultMap>

    <sql id="selectBookBatchVo">
        select id, batch_name, sum_amount, status, order_time, pay_time, send_time
        from book_batch
    </sql>

    <select id="selectBookBatchList" parameterType="BookBatch" resultMap="BookBatchResult">
        <include refid="selectBookBatchVo"/>
        <where>
                        <if test="batchName != null  and batchName != ''">
                            and batch_name like concat('%', #{batchName}, '%')
                        </if>
                        <if test="sumAmount != null ">
                            and sum_amount = #{sumAmount}
                        </if>
                        <if test="status != null  and status != ''">
                            and status = #{status}
                        </if>
                        <if test="orderTime != null ">
                            and order_time = #{orderTime}
                        </if>
                        <if test="payTime != null ">
                            and pay_time = #{payTime}
                        </if>
                        <if test="sendTime != null ">
                            and send_time = #{sendTime}
                        </if>
        </where>
    </select>

    <select id="selectBookBatchById" parameterType="Long"
            resultMap="BookBatchResult">
            <include refid="selectBookBatchVo"/>
            where id = #{id}
    </select>

    <insert id="insertBookBatch" parameterType="BookBatch" useGeneratedKeys="true"
            keyProperty="id">
        insert into book_batch
        <trim prefix="(" suffix=")" suffixOverrides=",">
                    <if test="batchName != null">batch_name,
                    </if>
                    <if test="sumAmount != null">sum_amount,
                    </if>
                    <if test="status != null">status,
                    </if>
                    <if test="orderTime != null">order_time,
                    </if>
                    <if test="payTime != null">pay_time,
                    </if>
                    <if test="sendTime != null">send_time,
                    </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                    <if test="batchName != null">#{batchName},
                    </if>
                    <if test="sumAmount != null">#{sumAmount},
                    </if>
                    <if test="status != null">#{status},
                    </if>
                    <if test="orderTime != null">#{orderTime},
                    </if>
                    <if test="payTime != null">#{payTime},
                    </if>
                    <if test="sendTime != null">#{sendTime},
                    </if>
        </trim>
    </insert>

    <update id="updateBookBatch" parameterType="BookBatch">
        update book_batch
        <trim prefix="SET" suffixOverrides=",">
                    <if test="batchName != null">batch_name =
                        #{batchName},
                    </if>
                    <if test="sumAmount != null">sum_amount =
                        #{sumAmount},
                    </if>
                    <if test="status != null">status =
                        #{status},
                    </if>
                    <if test="orderTime != null">order_time =
                        #{orderTime},
                    </if>
                    <if test="payTime != null">pay_time =
                        #{payTime},
                    </if>
                    <if test="sendTime != null">send_time =
                        #{sendTime},
                    </if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBookBatchById" parameterType="Long">
        delete
        from book_batch where id = #{id}
    </delete>

    <delete id="deleteBookBatchByIds" parameterType="String">
        delete from book_batch where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>